name: SonarCloud Analysis trunk

on:
  push:
    branches:
      - trunk

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    services:
      mariadb:
        image: mariadb:12.0.2
        env:
          MARIADB_ROOT_PASSWORD: uvlhub_root_password
          MARIADB_DATABASE: uvlhubdb_test
          MARIADB_USER: uvlhub_user
          MARIADB_PASSWORD: uvlhub_password
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mariadb-admin ping -u root -puvlhub_root_password || exit 1"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      MARIADB_ROOT_PASSWORD: uvlhub_root_password
      MARIADB_DATABASE: uvlhubdb_test
      MARIADB_TEST_DATABASE: uvlhubdb_test
      MARIADB_USER: uvlhub_user
      MARIADB_PASSWORD: uvlhub_password
      MARIADB_HOSTNAME: 127.0.0.1
      MARIADB_PORT: 3306
      FLASK_ENV: testing

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov

      - name: Run tests
        run: pytest --cov=. --cov-report=xml --ignore-glob='*selenium*'

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        with:
          args: >
            -Dsonar.organization=egc
            -Dsonar.projectKey=egc_tennis-hub-trunk
            -Dsonar.projectName=tennis-hub-trunk
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
            -Dsonar.branch.name=master
            -Dsonar.python.coverage.reportPaths=coverage.xml
